name: Build and Deploy
on:
  push:
    branches:
      - main

permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4

    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
        npm run test
        npx typedoc src/vis_str.ts

    - name: move files
      run: |
        mkdir public
        mv dist public/
        mv docs public/
        mv lib public/
        mv others public/
        mv _config.yml public/
        mv README.md public/

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./public
